---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set staticPages = [
  { "url": "/", "priority": "1.0", "changefreq": "weekly" },
  { "url": "/servicios/", "priority": "0.9", "changefreq": "monthly" },
  { "url": "/consultoria/", "priority": "0.8", "changefreq": "monthly" },
  { "url": "/nosotros/", "priority": "0.7", "changefreq": "monthly" },
  { "url": "/trabaja/", "priority": "0.6", "changefreq": "monthly" },
  { "url": "/privacidad/", "priority": "0.3", "changefreq": "yearly" },
  { "url": "/terminos/", "priority": "0.3", "changefreq": "yearly" }
] %}
{% for item in staticPages %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>2026-05-27</lastmod>
    <changefreq>{{ item.changefreq }}</changefreq>
    <priority>{{ item.priority }}</priority>
  </url>
{% endfor %}
{% for servicio in todos_los_servicios %}
  {% if servicio.slug != "consultoria-forestal" %}
  <url>
    <loc>{{ site.url }}/servicios/{{ servicio.slug }}/</loc>
    <lastmod>2026-05-27</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endif %}
{% endfor %}
</urlset>
